<h1>{{gServ.openedGroup?.groupName}}</h1><br/>
TITOLO SPESA: <input [(ngModel)]="expensePost.title"/>
<br/>
DATA: <input type="date" [(ngModel)]="expensePost.date"/>
<br/>
PARTECIPANTI ALLA SPESA:<br/>
@for (row of expenseRows; track $index) {
        <select [(ngModel)]="row.participantId">
            <option hidden [ngValue]="null">SELEZIONA PARTECIPANTE</option>
            @for (p of gServ.openedGroup?.participants; track p.participantId) {
                <option [ngValue]="p.participantId">{{p.participantName}}</option>
            }
        </select>
    <input
    type="number"
    placeholder="Dovuto"
    [ngModel]="getShare(row)"
    (ngModelChange)="setShare(row, $event)"
    />

    <input
    type="number"
    placeholder="Pagato"
    [ngModel]="getPaid(row)"
    (ngModelChange)="setPaid(row, $event)"
    />
    <br/>
}
<button (click)="addExpenseParticipant()" [disabled]="!maxParticipantCheck()">AGGIUNGI PARTECIPANTE</button>